<nav>
    <div class="logo">
        <a href="https://iic.edu.np">
            <img src="images/logo.png" alt="iic logo" />
        </a>
        <ul>
            <li>
                <a class="anch-nav" href="#">profile</a>
            </li>
            <li>
                <a class="anch-nav" href="#"">cart</a>
            </li>
            <li>
                <a class="anch-nav" href="#">Contact Us</a>
            </li>
        </ul>
        <a href="https://ing.com.np">
            <img src="images/ing.png" alt="ing logo" />
        </a>
    </div>
</nav>
